<div class="recipe">
    <div class="recipe-title">
        <h3>{{ $ctrl.currentRecipe.name }}</h3>
        <img ng-src="{{ $ctrl.imgService.buildPathToImg($ctrl.currentRecipe.UrlName) }}" alt="" width="100px">
    </div>
    <div class="recipe-content">
        <div>
            <strong>Trudność:</strong>
            <p>{{ $ctrl.currentRecipe.difficulty }}</p>
        </div>
        <div>
            <strong>Czas wykonania:</strong>
            <p>{{ $ctrl.currentRecipe.time }}</p>
        </div>
        <div>
            <strong>Składniki:</strong>
            <ul>
                <li ng-repeat="ingredient in $ctrl.currentRecipe.ingredients">
                    <p>{{ ingredient }}</p>
                </li>
            </ul>
        </div>
        <div>
            <strong>Wykonanie:</strong>
            <ol>
                <li ng-repeat="step in $ctrl.currentRecipe.procedure">
                    <p>{{ step }}</p>
                </li>
            </ol>
        </div>
    </div>
</div>
