/**
 * Created by Daria on 07.10.2017.
 */

/******************/
/*      FONT      */
/******************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/******************/
/*     GENERAL    */
/******************/
html {
  overflow-y: scroll;
}

body {
  margin: 0;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
}

/******************/
/* NAVIGATION BAR */
/******************/
@import "partials/navbar";

/******************/
/*  MAIN CONTENT  */
/******************/
#main-content {
  margin: 50px 20px;
}

.hidden {
  display: none;
}
