<div class="recipe">
    <div class="recipe-title">
        <h3>Ciasto biszkoptowe</h3>
    </div>
    <div class="recipe-content">
        <div>
            <strong>Trudność:</strong>
            <p>Łatwe</p>
        </div>
        <div>
            <strong>Czas wykonania:</strong>
            <p>?? minut</p>
        </div>
        <div>
            <strong>Składniki:</strong>
            <ul>
                <li>4 jajka</li>
                <li>szczypta soli</li>
                <li>szklanka cukru</li>
                <li>pół szklanki mąki ziemniaczanej</li>
                <li>pół szklanki mąki pszennej</li>
                <li>1 czubata łyżeczka proszku do pieczenia</li>
            </ul>
        </div>
        <div>
            <strong>Wykonanie:</strong>
            <ol>
                <li>Ubić mikserem 4 białka ze szczyptą soli</li>
                <li>Dodawać porcjami szklankę cukru, wciąż ubijając aż piana zrobi się sztywna</li>
                <li>Dodawać po jednym żółtku, wciąż ubijając. Ubijać do czasu aż będą się robić pękające
                    pęcherzyki powietrza
                </li>
                <li>Odłożyć mikser, już nie będzie potrzebny</li>
                <li>Przygotować pół szklanki mąki ziemniaczanej, pół szklanki mąki pszennej oraz proszek do
                    pieczenia
                </li>
                <li>Mąki z proszkiem przesiewać przez sitko i delikatnie mieszać (łyżką! nie mikserem)</li>
                <li>Piec ?? minut w piekarniku nagrzanym do ?? stopni Celcjusza.</li>
            </ol>
        </div>
    </div>
</div>
