<div class="recipe">
    <div class="recipe-title">
        <h3>{{ main.currentRecipe.name }}</h3>
        <img ng-src="{{ main.buildPathToImg(main.currentRecipe.UrlName) }}" alt="" width="100px">
    </div>
    <div class="recipe-content">
        <div>
            <strong>Trudność:</strong>
            <p>{{ main.currentRecipe.difficulty }}</p>
        </div>
        <div>
            <strong>Czas wykonania:</strong>
            <p>{{ main.currentRecipe.time }}</p>
        </div>
        <div>
            <strong>Składniki:</strong>
            <ul>
                <li ng-repeat="ingredient in main.currentRecipe.ingredients">
                    <p>{{ ingredient }}</p>
                </li>
            </ul>
        </div>
        <div>
            <strong>Wykonanie:</strong>
            <ol>
                <li ng-repeat="step in main.currentRecipe.procedure">
                    <p>{{ step }}</p>
                </li>
            </ol>
        </div>
    </div>
</div>
