<div class="recipe">
    <div class="recipe-title">
        <h3>Spaghetti</h3>
    </div>
    <div class="recipe-content">
        <div>
            <strong>Trudność:</strong>
            <p>Średnie</p>
        </div>
        <div>
            <strong>Czas wykonania:</strong>
            <p>?? minut</p>
        </div>
        <div>
            <strong>Składniki:</strong>
            <ul>
                <li>makaron</li>
                <li>sos do spaghetti</li>
            </ul>
        </div>
        <div>
            <strong>Wykonanie:</strong>
            <ol>
                <li>Ugotować makaron</li>
                <li>Podgrzać sos</li>
                <li>Wyłożyć na talerz</li>
                <li>Posypać startym żółtym serem</li>
            </ol>
        </div>
    </div>
</div>
