<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <title>Książka kucharska</title>
</head>
<body ng-app="cookeryBookApp">

<nav ng-controller="navController as navi">
    <ul>
        <li class="active"><a href="#"><span>Strona główna</span></a></li
        ><li class="dropdown" ng-repeat="(key, value) in navi.recipesByCategory"><a href="#"><span>{{ key }}</span></a>
            <ul>
                <li ng-repeat="recipe in value">
                    <a href={{navi.buildUrl(recipe.UrlName)}}><span>{{ recipe.name }}</span></a>
                </li>
            </ul>
        </li>

        <div ng-controller="mainController as main" class="searchBox dropdown">
            <input type="text" ng-model="main.searchString" placeholder="Znajdź przepis"/>
            <ul>
                <li ng-repeat="item in main.posts | searchByName:main.searchString">
                    <div>
                        <a href={{main.buildUrl(item.UrlName)}} ng-click="main.clearInput()">
                            <img ng-src="{{ main.buildPathToImg(item.UrlName) }}" alt="" width="40" height="30">
                            <span>{{item.name}}</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </ul>
</nav>

<div id="main-content">
    <h2>Książka kucharska</h2>
