<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <title>Książka kucharska</title>
</head>
<body ng-cloak>

<nav ng-controller="navController as navi">
    <ul>
        <li class="active"><a href="#"><span>Strona główna</span></a></li
        ><li class="dropdown" ng-repeat="(key, value) in navi.recipesByCategory"><a ui-sref="category({category: key})""><span>{{ key }}</span></a>
            <ul>
                <li ng-repeat="recipe in value">
                    <a ui-sref="recipe({category: recipe.category, name: recipe.UrlName})"><span>{{ recipe.name }}</span></a>
                </li>
            </ul>
        </li>

        <search-box></search-box>
    </ul>
</nav>

<div id="main-content">
    <h2>Książka kucharska</h2>
