<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <title>Książka kucharska</title>
</head>
<body ng-cloak>

<nav>
    <ul>
        <navigation-bar></navigation-bar>
        <search-box></search-box>
    </ul>
</nav>

<div id="main-content">
    <h2>Książka kucharska</h2>
