<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <title>Książka kucharska</title>
</head>
<body ng-app="cookeryBookApp">

<nav>
    <ul>
        <li class="active"><a href="#"><span>Strona główna</span></a></li>
        <li class="dropdown"><a href="#"><span>Obiady</span></a>
            <ul>
                <li><a href="#!spaghetti"><span>Spaghetti</span></a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="#"><span>Ciasta</span></a>
            <ul>
                <li><a href="#!biszkopt" class="biszkopt"><span>Ciasto biszkoptowe</span></a></li>
            </ul>
        </li>

        <div ng-controller="mainController as main" class="searchBox dropdown">
            <input type="text" ng-model="searchString" placeholder="Znajdź przepis"/>
            <ul>
                <li ng-repeat="item in main.posts | searchByName:searchString">
                    <div>
                        <a href={{main.buildUrl(item.UrlName)}} ng-click="clearInput()">
                            <img ng-src="{{ main.buildPathToImg(item.UrlName) }}" alt="" width="40" height="30">
                            <span>{{item.name}}</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </ul>
</nav>

<div id="main-content">
    <h2>Książka kucharska</h2>
