<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <title>Książka kucharska</title>
</head>
<body ng-app="cookeryBookApp">

<nav>
    <ul>
        <li class="active"><a href="#"><span>Strona główna</span></a></li>
        <li class="dropdown"><a href="#"><span>Obiady</span></a>
            <ul>
                <li><a href="#!spaghetti"><span>Spaghetti</span></a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="#"><span>Ciasta</span></a>
            <ul>
                <li><a href="#!biszkopt" class="biszkopt"><span>Ciasto biszkoptowe</span></a></li>
            </ul>
        </li>
    </ul>
</nav>

<div id="main-content">
    <h2>Książka kucharska</h2>
