<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Książka kucharska</title>
</head>
<body>

<div id="navbar">
    <ul>
        <li class="active"><a href="#"><span>Strona główna</span></a></li>
        <li class="dropdown"><a href="#"><span>Obiady</span></a>
            <ul>
                <li><a href="#"><span>Spaghetti</span></a></li>
                <li><a href="#"><span>Inny obiad</span></a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="#"><span>Ciasta</span></a>
            <ul>
                <li><a href="#"><span>Ciasto biszkoptowe</span></a></li>
                <li><a href="#"><span>Inne ciasto</span></a></li>
            </ul>
        </li>
    </ul>
</div>

<div id="main-content">
    <h2>Książka kucharska - strona główna</h2>
