<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <title>Książka kucharska</title>
</head>
<body ng-app="cookeryBookApp">

<nav ng-controller="navController as navi">
    <ul>
        <li class="active"><a href="#"><span>Strona główna</span></a></li
        ><li class="dropdown" ng-repeat="(key, value) in navi.recipesByCategory"><a ng-href="#!/{{ key }}"><span>{{ key }}</span></a>
            <ul>
                <li ng-repeat="recipe in value">
                    <a ng-href={{navi.buildRecipeUrl(recipe)}}><span>{{ recipe.name }}</span></a>
                </li>
            </ul>
        </li>

        <div ng-controller="searchBoxController as search" class="searchBox dropdown">
            <input type="text" ng-model="search.searchString" placeholder="Znajdź przepis"/>
            <ul>
                <li ng-repeat="item in search.posts | searchByName:search.searchString">
                    <div>
                        <a ng-href={{search.buildRecipeUrl(item)}} ng-click="search.clearInput()">
                            <img ng-src="{{ search.buildPathToImg(item.UrlName) }}" alt="" width="40" height="30">
                            <span>{{item.name}}</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </ul>
</nav>

<div id="main-content">
    <h2>Książka kucharska</h2>
